<h2>Gallery</h2>
<button class="buttons"> <a href="/new_post">Create Post</a></button>

{{#posts}}
  <div class="post">
    <img src="/uploads/{{image}}" alt="" />
    <div class="innercontainer">
      <small>{{date}}</small>
      <h1>{{username}}</h1>
      <h2>{{title}}</h2>
      <p>{{description}}</p>
      <a href="/post/{{id}}">Details</a>

      <!--Likes_neu-->
      <form action="/like/{{id}}" enctype="multipart/form-data" method="POST">
        <input class="heart" type="image" src="/heart.png" />
      </form>

      <!--Kommentar neu-->
      <form
        action="/comments/{{id}}"
        enctype="multipart/form-data"
        method="POST"
      >
        <input class="comment" type="text" value="Jetzt kommentieren..." />
        <input class="button-comment" type="submit" value="senden" />
      </form>

    </div>
  </div>
{{/posts}}