<h2>Gallery</h2>
<button> <a href="/new_post">Create Post</a></button>

{{#posts}}
  <div class="post">
    <img src="/uploads/{{image}}" alt="" />
    <div class="innercontainer">
      <small>{{timestamp}}</small>
      <h1>{{username}}</h1>
      <h2>{{title}}</h2>
      <p>{{description}}</p>
      <a href="/post/{{id}}">Details</a>
    </div>
  </div>
{{/posts}}