<h2>My Profil</h2>
{{#users}}
  <div class="user">
    <h4>{{username}}</h4>
    <h4>{{prename}}</h4>
    <h4>{{name}}</h4>
    <h4>{{age}}</h4>
    <h4>{{phonenumber}}</h4>
    <h4>{{email}}</h4>
  </div>
{{/users}}